

body {
	font-family: verdana, sans-serif;
	font-size:100%;
}

.logo{
	float:left;
	width: 100px;
	height:100px;
}

.header{
	background-image: url("images/logo.png");
	background-repeat: no-repeat;
	background-position: right top;
	background-color:white;
	
	padding: 5px;
	
	text-align: center;
	color:#8C2420;
	
	overflow:auto;

}

.top_nav {
		display:flex;
		flex-wrap: wrap;
		background-color: #8C2420;
}

.top_nav_left {
	flex: 70%;
}

.top_nav_right {
	flex: 30%;
}

.top_nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;

}

.top_nav_left li a{
  color : white ;
font-size: 24px;}

.top_nav_right li a{
    color : white ;
font-size: 24px;
}

.top_nav li a {
  display: block;
  padding: 8px;
}
.news_image{
	width:414px;
	height:330px;
}
.carousel_image{
	width:1170px;
	height:650px;
}

.article .caption h4 {
    font-family: 'montserrat_medium';
    line-height: 1.5;
    padding-bottom: 10px;
    color: #ffffff;
    font-size: 20px;
}
.article .caption p {
    padding-top: 10px;
    font-size: 15px;
    font-weight: 500;
}
.article p.submit a {
    border: none;
    color: #fff;
    border-radius: 0;
    font-size: 14px;
    display: inline-block;
    padding: 8px 15px;
    border: 1px solid transparent;
    font-weight: 700;
}
.article .caption a {
    font-family: 'montserrat_semibold';
    font-size: 20px;
    text-decoration: none;
    color: #7080f5;
}
.article .caption{
   background-color: darkslategrey;
   padding: 10px;
   border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.read_more {
	color: #fff !important;
    background-color: #8c2620 !important;
	margin-left:270px;
}
.article .thumbnail {
    padding: 0;
    border: 0;
    box-shadow: none;
    width: 100%;
    height: auto;
    margin-top: 30px;
    border: 1px solid #d8d8d8;
    border-radius: 0;
}
.article{

	padding: 20px;
	background-color: #EEE0CB;
	color: black;
}

.article h2,h1
{
	text-align: left;
	font-size:150%;
	color: #8C2420;
}

.article p
{
	text-align: left;
	font-size:120%;
}

.footer{
	padding: 5px;
    text-align: center;
    color: white;
    background-color: #8c2620;
}
